{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <div class="c-downloads">
    <h3>Wir haben dich neugierig gemacht?</h3>
<p>Dann komm doch einfach mal vorbei!</p>
<p>Ob nur zum Zuschauen oder direkt zum Mitmachen – wir freuen uns über neue Gesichter.</p>
<p>Für interessierte oder neue Spieler*innen (ab 14 Jahren) haben wir eine begrenzte Anzahl an Schutzausrüstung und Leihwaffen (unter und über 0,5 Joule) vor Ort.</p>
<p>Wenn du etwas davon brauchst, bitte <strong>bei der Anmeldung reservieren</strong> – eine kurze Nachricht über einen unserer Kanäle genügt.</p>
<br>
<h3>Du willst Teil des Teams werden?</h3>
<p>Mega – wir freuen uns auf dich!</p>
<p>Lade dir einfach unseren Mitgliedsantrag herunter, fülle ihn vollständig aus und:</p>
<ul>
  <li>schick ihn uns per E-Mail</li>
  <li>oder bring ihn zum nächsten Spieltag mit und gib ihn persönlich ab</li>
</ul><br>
    <table class="table table-hover" style="border-color: var(--bs-secondary-color);">
      <tr>
        <td>
          <h4>Datei</h4>
        </td>
        <td class="text-end">
          <h4>Download</h4>
        </td>
      </tr>
      <tr>
        <td>Beitragsordnung</td>
        <td class="text-end">
          <a href="https://drive.google.com/uc?export=download&id=1K4DSgQtMimtviYqjuu_SyKxJWD8XA9Dm" download class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--bs-light)">
              <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
          </a>
        </td>
      </tr>
      <tr>
        <td>Vereinssatzung</td>
        <td class="text-end">
          <a href="https://drive.google.com/uc?export=download&id=1ZzWHv17wUiA35DHieIuMSxGBFfZHgGEL" download class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--bs-light)">
              <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
          </a>
        </td>
      </tr>
      <tr>
        <td>Mitgliedsantrag</td>
        <td class="text-end">
          <a href="https://drive.google.com/uc?export=download&id=1sO4JpoVpop87E6t-16GZKtjXPT15CAtl" download class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--bs-light)">
              <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
          </a>
        </td>
      </tr>
      <tr>
        <td>Alles Herunterladen</td>
        <td class="text-end">
          <a href="https://drive.google.com/uc?export=download&id=13638jIu_ZPcBjx6DeTYroag_g1MoZC8h" download class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--bs-light)">
              <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
          </a>
        </td>
      </tr>
    </table>
    <br />
    <!-- Modal -->
    <div class="modal fade" id="img-modal" tabindex="-1" aria-labelledby="imgmodalLabel" aria-hidden="true" style="width: 100%;">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body" id="img-modal">
            <img class="w-100" src="#" alt="Ladefehler" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
