{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div>
  <h3>Willkommen auf unserem „Ambush Site“-Gelände!</h3>
  <p>Als Verein haben wir einen ehemaligen Trapschießplatz gepachtet.<br>
    Dank der großartigen Unterstützung unseres ortsansässigen Verpächters – der
    Containerdienst Pfaffe GmbH – konnten wir aus dem alten Schießstand ein
    kleines, aber feines Airsoft-Gelände machen.<br>
    Unser Gelände umfasst rund 15.000 m² und bietet damit genug Platz für
    spannende Spielmodi und jede Menge Action.</p>

  <p><strong>Das Gelände bietet eine gute Infrastruktur:</strong></p>
  <ul>
    <li>Feste Sanitäranlagen sind vorhanden</li>
    <li>Die Versorgung ist gesichert – ein REWE-Supermarkt liegt direkt um die
      Ecke</li>
    <li>HPA-Spieler aufgepasst: Wir haben einen eigenen Hochdruckkompressor zum
      Befüllen eurer Flaschen</li>
  </ul>
  <p>Einem spielreichen Wochenende steht damit nichts mehr im Weg!</p>
  <br />

  <h3>2019</h3><br />
  <div style="display: flex; width: 100%; justify-content: center;">
    <button onclick="loadImg('03')" type="button" class="btn"
      data-bs-toggle="modal" data-bs-target="#img-modal">
      <img
        src="{% static 'img/03.jpg' %}" alt="Ladefehler"
        class="c-btn-img" />
    </button>
  </div>  

  <br /><br />

  <h3>Heute</h3><br />
  <div style="display: flex; width: 100%; justify-content: center;">
    <button onclick="loadImg('07')" type="button" class="btn"
    data-bs-toggle="modal" data-bs-target="#img-modal">
    <img
      src="{% static 'img/07.jpg' %}" alt="Ladefehler"
      class="c-btn-img" />
    </button>
  </div>

  <br /><br />

  <h3>Szenario:</h3><br />
  <button onclick="loadImg('06')" type="button" class="btn"
    data-bs-toggle="modal" data-bs-target="#img-modal">
    <img
      src="{% static 'img/06.jpg' %}" alt="Ladefehler"
      class="c-btn-img" />
  </button>

  <br /><br />

  <p>Ein kleiner Konvoi unmarkierter Fahrzeuge ist mitten in einem abgelegenen
    Kaff liegen geblieben...</p><br> <br>
  <h3>Geländetyp:</h3>
  Urban / CQB<br>
  <em>(CQB = Close Quarter Battle – Nahkampf auf engem Raum, z. B. in Gebäuden
    oder zwischen Barrikaden)</em><br><br>
  <h3>Spielmodi:</h3>
  <ul>
    <li><strong>Team-Deathmatch</strong><br>Zwei Teams treten gegeneinander an –
      Ziel: so viele Gegner wie möglich ausschalten.</li>
    <li><strong>Konvoi</strong><br>Ein Team schützt einen verunfallten „Konvoi“
      auf dem Spielfeld, das andere versucht, sie dabei zu stören.</li>
    <li><strong>Geisel retten</strong><br>Ein Team hält eine Geisel gefangen,
      das andere muss sie retten und in Sicherheit bringen.</li>
    <li><strong>Capture the Flag</strong><br>Ziel ist es, die gegnerische Flagge
      zu stehlen und zur eigenen Basis zu bringen – ohne selbst geschnappt zu
      werden.</li>
    <li><strong>Bombe</strong><br>Ein Team muss ein Zielobjekt „zerstören“, das
      andere versucht, es zu verteidigen.</li>
    <li><strong>Domination</strong><br>Kontrollpunkte auf dem Feld müssen
      eingenommen und möglichst lange gehalten werden – je länger, desto mehr
      Punkte.</li>
  </ul>
  <p>Wir haben auch noch andere, speziellere Spielmodi und sind jederzeit für
    weitere Vorschläge offen!</p>
  <dl>
    <dt>
      <h3>Wegbeschreibung:</h3>
    </dt>
    <dd>
      <div class="container-fluid c-cookie-div">
        <div class="layer1">
          <p style="font-weight: bold;">Um diese Inhalte zu Laden müssen die
            Verwendeten Cookies akzeptiert werden.</p>
        </div>
        <div class="layer2" style="margin-left: -99.7%;">
          <iframe
            data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3391.8058579089848!2d11.241834577153034!3d51.069171042622074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a4170074961ad5%3A0xdce8c40550045229!2sAirsoft%20Scorpions!5e1!3m2!1sde!2sde!4v1733746138589!5m2!1sde!2sde"
            width="100%" height="450" style="border:0;" allowfullscreen
            loading="lazy" data-cookiescript="accepted"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </dd>
  </dl>
</div>
<!-- Modal -->
<div class="modal fade" id="img-modal" tabindex="-1"
  aria-labelledby="imgmodalLabel" aria-hidden="true" style="width: 100%;">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" id="img-modal">
        <img class="w-100" src="#" alt="Ladefehler" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
