{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <div>
    <h2>Was ist Airsoft?</h2><br />
    <h3>Airsoft</h3>
    <p>Airsoft oder Softair ist ein taktischer Sport, der im Team ausgeübt wird. Ähnlich wie beim Paintball ist es, je nach Spielmodus, das Ziel einer Runde, gegnerische Spieler mittels eines Markierers „aus dem Spiel zu nehmen“.</p>
    <p>Der Schwerpunkt des Sports liegt auf der Zusammenarbeit im Team, der Bewegung und dem Fairplay gegenüber den Gegenspielern.</p>
    <p>Anders als beim Paintball werden kleine Kugeln (BBs = „Baby Bullets“) aus Kunststoff oder Maisstärke, sogenannte „Bio-BBs“, aus den Markierern verschossen.</p>
    <p>
      <u>Auf unserem Platz sind nur die Bio-BBs erlaubt!!!</u> Diese bestehen aus unter Druck gepreßter Maisstärke, die mit der Zeit biologisch abgebaut wird.
    </p>
    <p>Die Größe der verwendeten BBs richtet sich nach der Waffe und der Spielart des Spielers.</p>
    <p>Für Nachtspiele gibt es spezielle BBs, sogenannte Tracer-BBs, die das Spiel bei Nacht erleichtern und für einen zusätzlichen Funfaktor sorgen.</p><br />

    <h3>Airsoft "Waffen"</h3>
    <p>Die verwendeten Markierer sind beim Airsoft meistens realen Waffen nachempfunden und teilweise äußerlich nicht von solchen zu unterscheiden. Das deutsche Waffenrecht verbietet es deshalb, diese außerhalb privater, eingefriedeter Grundstücke bei sich zu tragen.</p>
    <p>Ein Transport zwischen eigener Wohnung und einem Feld, auf dem das spielen erlaubt ist, hat deshalb in einem abgeschlossenen Behältnis zu erfolgen.</p>
    <p>Die verwendeten „Waffen“ verschießen ihre Kügelchen mit einer Mündungsenergie zwischen 0,3 Joule und 3,0 Joule. Sie bleiben damit weit unter der Mündungsenergie eines Luftgewehrs. Trotzdem gelten für alle Airsoftwaffen mit einer Mündungsenergie von mehr als 0,5 Joule die gleichen gesetzlichen Bestimmungen, wie für ein Luftgewehr mit einer sehr viel höheren Mündungsenergie.</p>
    <p>Um das Verletzungsrisiko während des Sports zu minimieren sind auf allen Feldern strenge Spielregeln in Kraft. Schutzausrüstung für Augen und Gesicht sind meistens Pflicht. Außerdem gelten meistens, je nach Mündungsenergie, Mindestabstände.</p>
    <br/>

    <div class="row">
      <div class="col-md-6" style="display: grid;">
        <button onclick="loadImg('08')" type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#img-modal" style="align-items: center;"><img src="{% static 'img/08.jpg' %}" alt="Ladefehler" class="" style="height: 500px;" /></button>
      </div>
      <div class="col-md-6" style="display: grid;">
        <button onclick="loadImg('09')" type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#img-modal" style="align-items: center;"><img src="{% static 'img/09.jpg' %}" alt="Ladefehler" class=" " style="height: 500px;" /></button>
      </div>
    </div>

    <br>
    <h3>Wie läuft ein Spieltag ab?</h3>
    <ul>
      <li>Ab 9:00 Uhr Anreise</li>
      <li>Anmeldung</li>
      <li>Ausgabe der Leihausrüstung (bei Bdraf - gegen hinterlegen des Ausweises)</li>
      <li>Aufrödeln der Waffen und Cronen</li>
      <li>10 Uhr Spielstart Runde 1 (Erklärung der Spielregeln, Teamaufteilung)</li>
      <li>13 Uhr gemeinsame Mittagspause</li>
      <li>14 Uhr Spielstart Runde 2</li>
      <li>17 Uhr Spielende (gerne auch mit kleiner Verlängerung)</li>
    </ul>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="img-modal" tabindex="-1" aria-labelledby="imgmodalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body" id="img-modal">
          <img class="w-100" src="#" alt="Ladefehler" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}
